#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  transform: translateY(-50%);
  padding: 20px;
}

#container ion-button {
  display: block;
  width: 200px;
  margin: 10px auto;
}

.top-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 16px;
}

ion-icon {
  font-size: 40px;
  color: #222;
}

ion-badge {
  margin-left: -8px;
  margin-top: -6px;
  font-size: 12px;
  border-radius: 50%;
  padding: 4px 7px;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}
