<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notification Badge App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="top-right">
    <ion-icon name="notifications-outline"></ion-icon>
    <ion-badge color="danger">{{ notificationCount }}</ion-badge>
  </div>
  <div id="container">
    <div>
      <input type="text" [(ngModel)]="title" placeholder="Enter title" />
      <input type="text" [(ngModel)]="message" placeholder="Enter message" />
      <ion-button (click)="addNotification()">Add Notification</ion-button>
    </div>
  </div>
</ion-content>
